.projects-section h1{
    text-align: center;
}
.projects-row{
    margin: 2rem 0;
    padding: 1rem 0;
    align-items: flex-start;
}
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 0 45%;
    max-width: 45%;
    margin: 1rem 0.5rem;
    border-radius: 0.25rem;
    background: none;
}
.project-header{
    width: 100%;
}
.project-title{
    text-align: center;
    margin: 1rem 0;
}
.project-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-height: 350px;
    /* background-color: #111; */
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 0.25rem;
    transform: translateY(1rem);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.project-image{
    width: 100%;
    padding: 0;
    margin: 0;
}
.project-data-container{
    padding-top: 1rem;
    display: block;
    width: 92%;
    background: linear-gradient(to top, #009AFF,#0072ff) !important;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.project-description-container{
    width: 100%;
    padding: 0.5rem;
    padding-top: 0;
    height: 0px;
    overflow: hidden;
    transition: height .75s;
    display: block;
}
.project-description{
    text-align: left;
}
.project-action-container{
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #fdfbfb;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.project-btn{
    background-image: linear-gradient(to top, #434343 0%, black 100%);
    padding: 0.6rem 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #FFF;
    border-radius: 0.15rem;
    z-index: 5;
}
.project-btn:active{
    background-image: linear-gradient(to top, #868f96 0%, #596164 100%);
}
@media screen and (max-width: 768px){
    .project-container{
        flex: 1 0 70%;
        max-width: 70%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 576px){
    .project-container{
        flex: 1 0 94%;
        max-width: 94%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (hover:hover){
    .project-btn:hover{
        cursor: pointer;
        background-image: linear-gradient(to top, #535353 0%, #121212 100%);
    }
    .project-btn:active{
        background-image: linear-gradient(to top, #868f96 0%, #596164 100%);
    }
}