.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 0 35%;
    max-width: 35%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 12px -4px rgba(225,225,225, 0.35);
}
.project-header{
    width: 100%;
    background: linear-gradient(to top, #009AFF,#0072ff) !important;
    background-color: #0072ff;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.project-title{
    text-align: center;
}
.project-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-height: 350px;
    background-color: #111;
}
.project-image{
    width: 96%;
}
.project-description-container{
    background: linear-gradient(to top, #009AFF,#0072ff) !important;
    background-color: #0072ff;
    padding: 0.2rem 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}