.school-paper-container{
    padding: 1.5em 0.25em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.school-logo{
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    padding: 0 0.1em;
    align-items: center;
    justify-content: center;
}
.school-logo-img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 2.8em -0.1em #222;
}
.school-header{
    width: 70%;
    margin-left: 5%;
    display: flex;
    flex-flow: column wrap;
    padding: 0.5em 0.05em;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 0 1px 2.8em -0.1em #222;
}
.school-title{
    font-size: 1.9em;
    margin-bottom: 0;
}
.school-degree{
    font-size: 1.35em;
    margin-bottom: 0;
}
.school-years{
    font-size: 1.1em;
}
.courses-list-container{
    padding-top: 1em;
    text-align: center;
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.courses-btn{
    background-color: rgb(2, 142, 235);
    color: #FFF;
    border-radius: 0.15em;
    box-shadow: 0 1px 3.5em -0.01em #222;
    padding: 1em 2em;
    font-size: 0.9em;
    border: none;
    outline: none;
    text-transform: uppercase;
}
.ripple-courses-btn{
    background-position: center;
    transition: background 0.8s;
}
.ripple-courses-btn:hover {
    cursor: pointer;
    background: rgb(38, 168, 255) radial-gradient(circle, transparent 1%, rgb(38, 168, 255) 1%) center/15000%;
    box-shadow: 0 -1px 10px 2px #565656;
}
.ripple-courses-btn:active {
    background-color: rgb(130, 204, 253);
    background-size: 100%;
    transition: background 0s;
}
.courses-list{
    list-style: none;
    width: 100%;
}
.courses-list-item{
    border-left: 0.4em solid rgb(0, 119, 255);
    box-shadow: 0 1px 2.25em -0.1em #222;
    background-color: #FFF;
    margin: 1.5em 0;
    padding: 0.6em 0;
    border-radius: 0.15em;
}
.course-number{
    font-weight: bold;
}
@media screen and (max-width: 796px){
    .school-logo{
        width: 50%;
        padding: 0.15em;
    }
    .school-header{
        width: 90%;
        padding: 0.25em 0.1em;
    }
    .courses-list-container{
        width: 70%;
    }
}
@media screen and (max-width: 500px){
    .courses-list-container{
        width: 90%;
    }
}