.skill-list-paper{
    padding: 0 0.25em;
}
.skill-list-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}
.skill-list-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.25em 0;
}
.skill-list-title{
    background-color: #0091FF;
    color: #FFF;
    border-radius: 0.15em;
    box-shadow: 0 1px 8px 1.5px #333;
    padding: 0.45em 0.6em;
}
.skill-image{
    height: 12em;
    padding: 0.25em;
}
.skill-list{
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    align-items: center;
    justify-content: center;
    align-content: center;
    order: 1;
    background-color: #FFF;
    box-shadow: 0 2px 15px 8px #222;
    z-index: 3;
}
.skill-item-name{
    background-color: rgb(0, 162, 255);
    color: #FFF;
    font-weight: bold;
    padding: 0.5em 1em;
    flex: 1;
    align-self: center;
    box-shadow: 0 1px 15px -1px #444;
}
.slider-icon{
    width: 6%;
    background-color: #FFF;
    padding: 1em 0;
    font-size: 200%;
}
.left-slider{
    order: 0;
}
.right-slider{
    order: 2;
}
.slider-icon:hover{
    background-color: #0091FF;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: #FFF;
    box-shadow: 0 0 12px 4px #222;
    cursor: pointer;
}
.skill-list-item{
    display: none;
    width: 100%;
    background-color: #FFF;
    border-radius: 0.15em;
    padding: 1em;
    text-align: center;
}
.active{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.8s;
}
@media screen and (max-width: 796px){
    .skill-image{
        height: 6em;
        padding: 0;
    }
    .skill-list-paper{
        padding: 1em 0;
    }
    .skill-list{
        width: 95%;
        order: 0;
    }
    .left-slider{
        order: 1;
    }
    .right-slider{
        order: 2;
    }
    .slider-icon{
        width: 25%;
        margin: 0 0.25em;
        padding-right: 0.5em;
        padding-left: 0.5em;
        font-size: 125%;
    }
    .skill-list-paper{
        padding: 0;
    }
}