.skills-section{
    padding: 1rem;
    margin: 2rem 0 2rem 0;
}
.skills-list-container{
    /* border-radius: 0.35rem; */
    flex: 0 0 25%;
    max-width: 25%;
    /* background-color: #FFF; */
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.skills-list-title{
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 2.5rem 0 0.25rem 0;
    width: 100%;
}
.skill-list-carousel{
    transform: translateY(1.25rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 300px;
    background: #FFF;
    border-radius: 0.3rem;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.skill-container{
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    order: 2;
    transform: translateX(100%);
}
.skill-active{
    order: 1;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.skill-title{
    width: 100%;
    text-align: center;
    background-color: #FAFAFA;
    color: #0072ff;
    margin: 0;
    padding: 0.25rem 0;
}
.skill-img{
    margin: 0;
    padding: 0;
    width: 90%;
    max-height: 250px;
}
.skills-list-container-footer{
    background: linear-gradient(to top, #009AFF,#0072ff) !important;
    background-color: #0072ff;
    width: 92%;
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.skills-carousel-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.skill-carousel-control-left, .skill-carousel-control-right{
    display: inline-block;
    cursor: pointer;
    padding: 0.75rem;
    background: none;
    border: none;
    outline: none;
    color: #FFF;
}
.skill-carousel-control-left:active, .skill-carousel-control-right:active{
    background-color: rgba(0,0,0,0.35);
}
.skills-list-indicators{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.carousel-circle{
    width: 0.9rem;
    height: 0.9rem;
    display: inline-block;
    background-color: #626262;
    border-radius: 50%;
    margin: 0 0.1rem 0.35rem 0.1rem;
}
.carousel-circle-active{
    background-color: #FFF;
    animation: fadeIn 0.5s;
}
.control-icons{
    font-size: 1.35rem;
}
@media screen and (max-width: 1200px){
    .skills-list-container{
        flex: 0 0 45%;
        max-width: 45%;
    }
}
@media screen and (max-width: 768px){
    .skills-list-container{
        flex: 0 0 48%;
        max-width: 48%
    }
}
@media screen and (max-width: 576px){
    .skills-list-container{
        flex: 0 0 90%;
        max-width: 90%;
    }
}
@media (hover: hover){
    .skill-carousel-control-left:hover, .skill-carousel-control-right:hover{
        background-color: rgba(255,255,255,0.35);
    }
    .skill-carousel-control-left:active, .skill-carousel-control-right:active{
        background-color: rgba(0,0,0,0.35);
    }
}
@keyframes slideSkillIn{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}