.About{
    padding: 3em 0;
}
.profile-image{
    margin: 2em 0;
    border-radius: 100%;
    box-shadow: 0 0 6px 2px #444;
    width: 25%;
    height: auto;
}
@media screen and (max-width: 1024px){
    .profile-image{
        width: 50%;
    }
    .profile-loader{
        width: 50%;
    }
}
@media screen and (max-width: 796px){
    .profile-image{
        width: 70%;
    }
    .profile-loader{
        width: 70%;
    }
}
@media screen and (max-width: 500px){
    .profile-image{
        width: 90%;
    }
    .profile-loader{
        width: 90%;
    }
}
.profile-loader{
    width: 25%;
    border-radius: 100%;
    margin: 2em 0;
    box-shadow: 0 0 6px 2px #444;
    animation: loadProfileImage 0.5s;
    animation-iteration-count: infinite;
    background-color: #DDD;
}
@keyframes loadProfileImage{
    0%{
        background-color: #FFF;
    }
    50%{
        background-color: aliceblue;
    }
    100%{
        background-color: rgb(128, 182, 202);
    }
}
/* @keyframes loadProfileImage{
    from   {     
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 50%,rgba(204,204,204,1) 50%);
    }
    to {     
        background: -webkit-radial-gradient(center, ellipse cover, rgba(204, 204, 204, 1) 50%,rgba(255,255,255,1) 50%);
    }
} */
/* @keyframes loadProfileImage{
    0%{
        background: linear-gradient(to top left, #DDD 100%, #AAA 0%);
    }
    25%{
        background: linear-gradient(to top left, #DDD 75%, #AAA 25%);
    }
    50%{
        background: linear-gradient(to top left, #DDD 50%, #AAA 50%);
    }
    75%{
        background: linear-gradient(to top left, #DDD 75%, #AAA 25%);
    }
    100%{
        background: linear-gradient(to top left, #DDD 0%, #AAA 100%);
    }
} */