.ripple-nav-btn{
    background-position: center;
    transition: background 0.8s;
}
.ripple-nav-btn:hover {
    background: #504099 radial-gradient(circle, transparent 1%, #504099 1%) center/15000%;
    box-shadow: 0 -1px 10px 2px #565656;
}
.ripple-nav-btn:active {
    background-color: #a8c0ff;
    background-size: 100%;
    transition: background 0s;
}
.nav-btn{
    right: 1.5em;
    bottom: 1.5em;
    position: fixed;
    border-radius: 50%;
    padding: 1em;
    background-color: #3f2b96;
    color: #FFF;
    outline: none;
    border: 0.5px solid #3f2b96;
    box-shadow: 0 -1px 9px 1px #565656;
    z-index: 100;
    font-size: 125%;
}
.nav-btn:hover{
    cursor: pointer;
}
nav{
    width: 16em;
    background-color: #333;
    top: 0;
    position: fixed;
    height: 100vh;
    z-index: 5;
}
ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 16em;
    margin-top: 1em;
}
li{
    margin: 0.5em 0;
    width: 100%;
    text-align: center;
}
.nav-link{
    color: #FFF;
    text-decoration: none !important;
    padding: 1.2em 0;
    display: block;
}
.nav-link:hover{
    text-decoration: none;
    color: #DDD;
    background-color: #222;
}
.nav-link:visited{
    color: #FFF;
}
.nav-slide-enter, .nav-slide-enter-active, .nav-active-enter-done{
    animation-name: slideNavIn;
    animation-duration: 750ms;
}
.nav-slide-exit, .nav-slide-exit-active, .nav-slide-exit-done{
    animation-name: slideNavOut;
    animation-duration: 750ms;
}
@keyframes slideNavIn{
    from{
        left: -20em;
    }
    to{
        left: 0;
    }
}
@keyframes slideNavOut{
    from{
        left: 0;
    }
    to{
        left: -20em;
    }
}