main{
  margin: 0;
  padding: 0;
  background-color: #071926;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 750'%3E%3Cg %3E%3Cpolygon fill='%23002440' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23004880' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23006cc1' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230290ff' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2342acff' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom left, #005EFF, #8762FF);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}
.App{
  padding: 0 !important;
  margin: 0 !important;
}
footer{
  background-color: #222;
  color: #FFF;
}
.paper{
  background-color: #444;
  box-shadow: 0 1px 12px 3px #333;
  margin: 2em 0;
  width: 100%;
  border: none;
}
.section-header{
  font-size: 2em;
  text-align: center;
  background-color: #000;
  background-color: #EEE;
  border-bottom: 0.15em solid #0091FF;
  padding: 0.5em;
  border-radius: 0.1em;
  box-shadow: 0 0 10px 3px #555;
}
.section-description{
  font-size: 1.2rem;
  text-align: left; 
  padding: 1em;
  color: #FFF;
}
.no-display{
  display: none;
}
.error-page-display{
  height: 100vh;
  padding: 3em 0;
  min-height: 20em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.error-page-display p{
  background-color: #FFF;
  padding: 1em 0.5em;
  color: rgb(255, 56, 56);
  text-align: center;
  font-weight: bold;
  font-weight: 1.25em;
}
/*custom grid system*/
.flex-center{
  align-content: center;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  flex-flow: row wrap;
  overflow-x: hidden;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1em 0;
}
.col{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.col-1{
  display: flex;
  flex-flow: column wrap;
  width: 10%;
}
.col-2{
  display: flex;
  flex-flow: column wrap;
  width: 20%;
}
.col-3{
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}
.col-4{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}
.col-5{
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
.col-6{
  display: flex;
  flex-flow: column wrap;
  width: 60%;
}
.col-7{
  display: flex;
  flex-flow: column wrap;
  width: 70%
}
.col-8{
  display: flex;
  flex-flow: column wrap;
  width: 80%;
}
.col-9{
  display: flex;
  flex-flow: column wrap;
  width: 90%;
}
.col-10{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
@media screen and (max-width: 500px){
  p{
    font-size: 0.85em;
  }
}
@media (min-width: 768px){
  .paper{
    margin-left: 0;
    margin-right: 0;
  }
  .col-md-1{
    display: flex;
    flex-flow: column wrap;
    width: 10%;
  }
  .col-md-2{
    display: flex;
    flex-flow: column wrap;
    width: 20%;
  }
  .col-md-3{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
  }
  .col-md-4{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
  }
  .col-md-5{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
  }
  .col-md-6{
    display: flex;
    flex-flow: column wrap;
    width: 60%;
  }
  .col-md-7{
    display: flex;
    flex-flow: column wrap;
    width: 70%
  }
  .col-md-8{
    display: flex;
    flex-flow: column wrap;
    width: 80%;
  }
  .col-md-9{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
  }
  .col-md-10{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
}
@media (min-width: 1024px){
  .col-lg-1{
    display: flex;
    flex-flow: column wrap;
    width: 10%;
  }
  .col-lg-2{
    display: flex;
    flex-flow: column wrap;
    width: 20%;
  }
  .col-lg-3{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
  }
  .col-lg-4{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
  }
  .col-lg-5{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
  }
  .col-lg-6{
    display: flex;
    flex-flow: column wrap;
    width: 60%;
  }
  .col-lg-7{
    display: flex;
    flex-flow: column wrap;
    width: 70%
  }
  .col-lg-8{
    display: flex;
    flex-flow: column wrap;
    width: 80%;
  }
  .col-lg-9{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
  }
  .col-lg-10{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
}
/* animations */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}