.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}
.well-text{
  font-size: 80% !important;
  color: #7A7A7A;
}
.icon-img{
  max-height: 250px;
}
.circle{
  border-radius: 50%;
  box-shadow: 1px 3px 15px black;
}
.overlay-blue{
  height: inherit;
  width: 100%;
  background: rgba(0, 128, 255, 0.3);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.fadeInLeft{
  position: relative;
  animation: fadeInLeft 2s;
}
.fadeInRight{
  position: relative;
  animation: fadeInRight 2s;
}
.bounceUp{
  position: relative;
  animation: bounceUp 1.5s infinite;
}
.fadeInDown{
  position: relative;
  overflow-y: hidden;
  animation: fadeInDown 3s;
}
.zoomInDelay{
  position: relative;
  animation: zoomInDelay 3s;
}
.zoomIn{
  position: relative;
  animation: zoomInDelay 1.5s;
}
.fadeInDownZoom{
  position: relative;
  animation: fadeInDownZoom 1.5s;
}
.fadeOutUpZoom{
  position: relative;
  animation: fadeOutUpZoom 1.5s;
}
@keyframes fadeInLeft{
  from{
    left: -300px;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeInRight{
  from{
    right: -300px;
    opacity: 0;
  }
  to{
    right: 0;
    opacity: 1;
  }
}
@keyframes bounceUp{
  0%{
    transform: translateY(-100px) scaleY(1);
  }
  30%{
    transform: translateY(0) scaleY(1);
  }
  50%{
    transform: translateY(10px) scaleY(0.5);
  }
  70%{
    transform: translateY(0) scaleY(1);
  }
  100%{
    transform: translateY(-100px) scaleY(1);
  }
}
@keyframes fadeInDown{
  from{
    bottom: 800px;
    opacity: 0;
  }
  to{
    bottom: 0;
    opacity: 1;
  }
}
@keyframes zoomInDelay{
  0%{
    display: none;
    transform: scaleY(0);
  }
  75%{
    display: flex;
    transform: scaleY(0);
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes fadeInDownZoom {
  0%{
    opacity: 0;
    transform: perspective(300px) translate3d(0, -300px, -200px) scaleY(0.2);
  }
  100%{
    opacity: 0.9;
    transform: perspective(300px) translate3d(0, 0, 25px) scaleY(0.9);
  }
}
@keyframes fadeOutUpZoom{
  0%{
    opacity: 0.9;
    transform: perspective(300px) translate3d(0, 0, 25px) scaleY(0.9);
    display: flex;
  }
  100%{
    opacity: 0;
    transform: perspective(300px) translate3d(0, -300px, -200px) scaleY(0.2);
    display: flex;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
